<h1><%= @post.id%>번째 글</h1>
<div class="alert alert-info" role="alert">
<p>작성자 : <%= @post.user_email%></p>
<p>제목 : <%= @post.title%><br></p>
<p>내용 : <%= @post.content%></p>
</div>
<!-- 댓글 form -->
<h3>댓글</h3>
<%= form_tag('/post/create_comment') do %>
  <%= text_field_tag(:comment)%>
  <%= submit_tag('등록')%>
<%end%>

<% @comments.each do |comment|%>
<%= form_tag do%>
  <%= comment.content%>
<%end%>
<%end%>

<a href='/post/modify/<%= @post.id%>'>수정</a>
<a href='/post/destroy/<%= @post.id%>'>삭제</a>
<a href='/'>목록으로</a>
