<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p><%= flash[:notice]%></p>
<a href="/">홈으로</a>
<% if session[:user_email].nil? %>
  <a href="/user/new">회원 가입</a>
  <a href="/user/login">로그인</a>
<%else%>
  <a href="/user/index">모든 회원 정보</a>
  <a href="/user/logout">로그아웃</a>
  <p><%= session[:user_email] %>님 환영합니다.</p>
<%end%>
<%= yield %>

</body>
</html>
